@media (prefers-color-scheme: dark) {
     body {
         background-color: #444;
         color: #e4e4e4;
         font-family: monospace;
         font-size: x-large;
         max-width: 70ch;
         padding: 3em 1em;
         margin: auto;
    }
     a {
         color: #e39777;
    }
}
 .emoji {
     width: 2em;
}
 .link {
     display: flex;
     align-items: flex-end;
     padding: 7px;
}
 